// Colors
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

// Color backgroundprimairesecondaire
$color-bg: #FAFAFA;
$col-bg: #FFF;

// Color backgroud footer
$color-footer: #363636;

// Color police
$color-ink: #000;
$color-ink-dry: #4d4d4d;
$bright-green: #278870;

// Color box-shadow
$shadow: #b4b4b4;

// Font Size
$size-one: 1rem;
$size-two: 1.5rem;
$size-tree: 1.1rem;

// media
$tablet: 768px;
$desktop: 1024px;

// Percent
$percent: 5%;
